<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ViewProfile</title>
</head>
<body>

	<h1>ViewProfile</h1>
	<table>

		<thead>
			<tr>

				<th>Full Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Country</th>
				<th>DOB</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="userData: ${user}">

				<td th:text="${userData.fullname}"></td>
				<td th:text="${userData.email}"></td>
				<td th:text="${userData.phone}"></td>
				<td th:text="${userData.country}"></td>
				<td th:text="${userData.DOB}"></td>


			</tr>
		</tbody>

	</table>

	<h1>END</h1>

</body>
</html>